body {
  direction: rtl;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.button--back {
  text-align: center;
  margin: 0 auto;
}
